{% extends "inLook.html" %}

{% block content%}
<div class="buttonBlock">
 <button type="button" class="btn btn-info" href="/newBook"><a href="/newBook">&nbsp;Add a Book&nbsp;&nbsp;</a>
 </button>

 <button type="button" class="btn btn-info" href="/newBook"><a href="/newReview">Add a Review</a>
 </button>
</div>

<hr>

{% for review in books_review %}
 <div>
    <h4>{{ review.headline }}&nbsp;-&nbsp;{{ review.title }}</h4>
    <div class="reviewText">{{ review.review }}</div>
    <div class="writtenBy">written by&nbsp;-&nbsp;{{ review.reviewer }}</div>
    <div class="divider"></div>
{% endfor %}

<!--h2>Add New Book Review</h2>

<form method="POST" action=""> {% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Add' class='btn' />
</form-->

{% endblock %}

