{% extends "inLook.html" %}

{% block content%}
<div class="buttonBlock">
 <button type="button" class="btn btn-info" href="/newBook"><a href="/newBook">&nbsp;Add a Book&nbsp;&nbsp;</a>
 </button>

 <button type="button" class="btn btn-info" href="/newBook"><a href="/newReview">Add a Review</a>
 </button>
</div>

<hr>

{% for review in books_review %}
 <div>
    <h5>{{ review.title }}</h5>
    {{ review.review }}
    {{ review.reviewer }}
 </div>
 <div>
 </div>
{% endfor %}

<!--h2>Add New Book Review</h2>

<form method="POST" action=""> {% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Add' class='btn' />
</form-->

{% endblock %}

